*,
*::before,
*::after {
    --rojo: #eb0606;
    --fond-blanco: #ffffff;
    --fondo-verde: #0aa30580;
    --azul-medio: #3970BE;

    --cinza-texto: #444444;
    --cinza-claro: #ECECEC;
    box-sizing: border-box;
}



body {
    font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: var(--fondo-blanco);
    position: relative;
    width: 100%;
    height: 100vh;
    font-size: 55px;
    color: black;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

/* ESTILOS DO HEADER */

.encabezado {
    background-color: rgb(7, 0, 0);
    display: flex;
    justify-content: center;
    top: 0;
    min-height: 80px;
    width: 100%;
    padding: 0 25px;
}

.logo-izq {
    background-image: url(/img/encabezado/dead-pool.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    width: 50px;
}

.logo-derecha {
    background-image: url(/img/encabezado/lego.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    width: 50px;
}

.titulo {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 15px;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;

}

.container {
    /*background-color: yellow;*/
    display: flex;
    height: 1235px;
    width: 1380px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: grey;
    padding: 20px;
    margin-top: 40px;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    height: 232px;
    bottom: 0;
    font-size: .5em;
}

.footer-content {
    max-width: 1200px;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content .social-media {
    margin-top: 10px;
}

.footer-content .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-content .social-media a:hover {
    text-decoration: underline;
}

/* /////////////////FULL HD //////////////////*/
@media only screen and (max-width: 1920px) {
    footer {
        text-align: center;
        padding: 10px 0;
        position: fixed;
        width: 100%;
        height: 155px;
        bottom: 0;
        font-size: .5em;
    }
.footer-content{
    gap: 20px;
}

}



/* /////////// hd  /////////////////  */
@media only screen and (max-width: 1440px) {

    footer {
        text-align: center;
        padding: 10px 0;
        position: fixed;
        width: 100%;
        height: 165px;
        bottom: 0;
        font-size: .5em;
    }
.footer-content{
    gap: 20px;
}

}


/* ////////////////pc ////////////////// */

@media only screen and (max-width: 1366px) {

    .container {
        /*background-color: yellow;*/
        display: flex;
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        color: grey;
        padding: 10px;
        margin-top: 10px;
    }


    footer {
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    height: 70px;
    bottom: 0;
    font-size: .2em;
}

.footer-content {
    max-width: 1200px;
    gap: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

/* ///////////////////////TABLET  //////////////////// */
@media only screen and (max-width: 1040px) {

    .container {
        /*background-color: yellow;*/
        display: flex;
        height: 1024px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        color: grey;
        padding: 100px;
        margin-top: 10px;
    }

    footer {
        text-align: center;
        padding: 10px 0;
        position: fixed;
        width: 100%;
        gap: 100px;
        height: 75px;
        bottom: 0;
        font-size: .2em;
    }

    .footer-content{
        gap: 7px;
    }
}



/* //////CELULAR////// */

@media only screen and (max-width: 740px) {
    /* Aquí puedes colocar reglas de estilo específicas para pantallas pequeñas */

    /* Ejemplo de ajuste de tamaño de fuente */
    body {
        font-size: 114px;
        overflow-x: hidden;
        
    }
    /* Ejemplo de ajuste de diseño de grid o flexbox */
    .container {
        /*background-color: red;*/
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 88vh;       
    }

    .logo-izq {
        background-image: url(/img/encabezado/dead-pool.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 15px;
        width: 70px;
    }

    .logo-derecha {
        background-image: url(/img/encabezado/lego.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 15px;
        width: 70px;
    }

    footer {
        text-align: center;
        padding: 10px 0;
        position: fixed;
        width: 100%;
        gap: 100px;
        height: 75px;
        bottom: 0;
        font-size: .1em;
    }

    .footer-content{
        gap: 7px;
    }

}

@media only screen and (max-width: 360px) {

    .container {
        background-color: red;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
     
    }


}


